**/.git
**/.github
**/.gitignore
**/.gitattributes
**/.editorconfig
**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml
**/compose*.yml
**/docker-bake.hcl
**/.hadolint.yaml
**/README.md
**/CHANGELOG.md
**/CONTRIBUTING.md
**/CODE_OF_CONDUCT.md
**/SECURITY.md
**/LICENSE
**/Makefile
**/examples
**/docs
**/tests
**/scripts
**/.env*
**/.idea
**/.vscode
**/node_modules
